.div1 {
    background-color: rgb(240, 223, 234);
    display: flex;
    justify-content: space-around;
    color: brown;
    align-items: center;
    
}

.ttt {
    display: flex;
    gap: 30px;
    
}

body {
    margin: 0px;
    overflow-x: hidden;
}

.point {
    list-style: none;
    color: brown;
}

.velo {
    display: flex;

}
.div2{
    background-color: rgb(248, 219, 219);
    border-radius: 15px;
    height: 450px;
    width: 300px;
    margin-top: 40px;
    padding: 20px;
    
}
.img{
    height: 300px;
    width: 300px;
    border-radius: 15px;
}
.but{
    height: 30px;
    width: 100px;
    background-color: white;
    color: brown;
    border: solid 1px;
    cursor: pointer;
}
.but:hover{
    height: 30px;
    width: 100px;
    background-color: rgb(249, 87, 87);
    color: rgb(253, 245, 245);
    border: solid 1px;
    cursor: pointer;
}
.mdiv{
    display: flex;
    gap: 20px;
  margin-left: 30px;
}
.paru
{
    display: flex;
}

footer{
    background-color: rgb(244, 217, 221);
    background-size: cover;
    height: 250px;
color: brown;
}
.ftr{
    display: flex;
    justify-content:  space-around;
   margin-top: 50px;
   padding: 40px;
    
}
.email{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    cursor: pointer;
}
.class{
    width: 80px; height: 30px; margin-top: 10px; color: brown; cursor: pointer;
}
.class:hover{
    width: 80px; height: 30px; margin-top: 10px; color: brown; background-color: black;
}
.main11{
    margin-right: 10px;
}