.img {
    background-image: url(Untitled\ design.png);
    height: 600px;
    width: 1513px;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;

}


header{
    position: fixed;
    width: 1520px;
    margin: 0;
}

.div1 {
    background-color: rgb(245, 240, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: brown;
    align-items: center;
    
}

.ttt {
    display: flex;
    gap: 30px;
    
}
body{
    margin: 0px;
    overflow-x: hidden;
}

.velo {
    display: flex;

}

.point {
    list-style: none;
    color: brown;
}
.image{
    background-image: url(bannerimagegallery.png);
    width: 1520px;
    height: 650px;
    background-size: cover;
    background-repeat: none;
    
}
.divq{
    height: 450px;
    width: 300px;
    background-color: bisque;
    margin-top: 40px;
    border-radius: 15px;
    text-align: center;
}
footer{
    background-color: rgb(244, 217, 221);
    background-size: cover;
    height: 250px;
color: brown;
}
.ftr{
    display: flex;
    justify-content:  space-around;
   margin-top: 50px;
   padding: 40px;
    
}
.all{
   font-size: large; 
}
.email{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    cursor: pointer;
}
    .class{
    width: 80px; height: 30px; margin-top: 10px; color: brown; cursor: pointer;
}
.class:hover{
    width: 80px; height: 30px; margin-top: 10px; color: brown; background-color: black;
}
.main11{
    margin-right: 10px;
}
.div5{
    display: flex; flex-wrap: wrap; gap: 30px; justify-content: center;
}


@media (max-width: 768px) {
.div5{
    display: flex; flex-wrap: wrap; gap: 30px; justify-content: center; margin-left: 80px; padding: 40px;
}
.image{
    background-image: url(bannerimagegallery.png);
    width: 0px;
    height: 0px;
    
}
}

@media  screen and (width: 768px;){

    
}
    
